.company {
	background: url(../img/bg/sec4_bg.png);
	padding: 58px 0 75px 0;
	max-height: 342px;
	text-align: center;
	&_icon {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: 102px;
		height: 102px;
		border: 1px solid #fff;
		border-radius: 50%;
		img {
			position: absolute;
			bottom: 27px;
		}
	}
	h2 {
		margin-top: 20px;
		color: #ffffff;
		font-size: 26px;
		font-weight: 700;
	}
	&_descr {
		margin-top: 22px;
		color: #ffffff;
		font-size: 19px;
		font-weight: 300;
		line-height: 27px;
	}
	&_second {
		background: url(../img/bg/sec6_bg.png);
	}
}